**/__pycache__
/*.in
/*.md
/.env
/.git
/.github
/.dockerignore

/out
/provision
/public
!/public/robots.txt
/tests

*.pyc
*.egg-info
.vscode
.idea
.python-version

docker-compose*.yml
Dockerfile
Makefile

db.sqlite3
db.sqlite3-journal

**/.pytest_cache
**/node_modules

src/frontend/dist
