__pycache__
.DS_Store
*.pyc

# IDE and tools
.idea/
.vscode
.python-version
.node-version
.python-version

# Celery
results
celerybeat-schedule

# Project temp files
db.sqlite3
db.sqlite3-journal
src/*.egg-info/

/public/*
!/public/robots.txt

var/
out/

# Overrides
docker-compose.override.yml
.env

