pip-tools
docutils
pytz
Pillow
psycopg2-binary

pydash
trafaret
requests
yarl

django
django-environ
django-filter
django-extensions
django-ltree
django-editorjs-fields
dj-database-url

djangorestframework
djangorestframework-simplejwt
drf-yasg

argon2-cffi
python-json-logger

celery
redis

ipython
uwsgi
