pip-tools
docutils
pytz
Pillow
psycopg2-binary

pydash
trafaret
requests
yarl
emoji

django
django-environ
django-filter
django-extensions
django-ltree
django-editorjs-fields
django-import-export
django-ordered-model
django-cleanup
dj-database-url

djangorestframework
djangorestframework-filters>=1.0.0.dev2
djangorestframework-simplejwt
drf-yasg
sentry-sdk

argon2-cffi
python-json-logger

celery
redis

ipython
uwsgi
