pip-tools
docutils
pytz
Pillow
psycopg2-binary
boto3

pydash
trafaret
requests
yarl
emoji

django<3.3
django-environ
django-filter
django-extensions
django-ltree
django-editorjs-fields
django-import-export
django-ordered-model
django-cleanup
django-storages
django-oauth-toolkit
dj-database-url

djangorestframework<4.0
djangorestframework-filters>=1.0.0.dev2
drf-yasg
sentry-sdk

argon2-cffi
python-json-logger

celery
redis

ipython
uwsgi
