{% extends 'admin/index.html' %}
{% load coretags %}

{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col">
                {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
            </div>
            {% if not app_label %}
                <div class="col">
                    <h3>👥 Usuarios y Miembros</h3>
                    <div class="flex flex-auto flex-wrap">
                        <a class="w-1/3"
                           @mounted="mounted"
                           href="/admin/users/user/"
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/users/user/?format=json', label: 'Usuarios' })">
                        </a>
                        <a class="w-1/3"
                           @mounted="mounted"
                           href="/admin/organization/member/"
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/organization/member/?format=json', label: 'Miembros' })">
                        </a>
                        <a class="w-1/3"
                           @mounted="mounted"
                           href="/admin/organization/member/?type__exact=partner"
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/organization/member/?format=json&type__exact=partner', label: 'Socios' })">
                        </a>
                    </div>
                    <h3>🥳 Cumpleaños</h3>
                    <div class="flex flex-auto flex-wrap">
                        <a class="w-1/3"
                           @mounted="mounted"
                           href='/admin/organization/member/?birthday__gte={% now "Y-m-d" %}&birthday__lt={% tomorrow "%Y-%m-%d" %}'
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/organization/member/?format=json&birthday__gte={% now "Y-m-d" %}&birthday__lt={% tomorrow "%Y-%m-%d" %}', label: 'Hoy' })">
                        </a>
                        <a class="w-1/3"
                           @mounted="mounted"
                           href='/admin/organization/member/?birthday__gte={% now "Y-m-d" %}&birthday__lt={% daysfromnow 2 "%Y-%m-%d" %}'
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/organization/member/?format=json&birthday__gte={% tomorrow "%Y-%m-%d" %}&birthday__lt={% daysfromnow 2 "%Y-%m-%d" %}', label: 'Mañana' })">
                        </a>
                        <a class="w-1/3"
                           @mounted="mounted"
                           href='/admin/organization/member/?birthday__gte={% now "Y-m-d" %}&birthday__lt={% daysfromnow 7 "%Y-%m-%d" %}'
                           v-scope="DashboardPanel({ initialCount: 0, url: '/admin/organization/member/?format=json&birthday__gte={% now "Y-m-d" %}&birthday__lt={% daysfromnow 7 "%Y-%m-%d" %}', label: '7 días' })">
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
