{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% spaceless %}
    {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |
    {{ site_title|default:_('Django site admin') }}
{% endspaceless %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'admin.css' %}">

    {% verbatim %}
    <template id="dashboard-panel-template">
        <div class="p-2">
            <div class="rounded" style="padding: 1rem; background-color: #f9f9f9; color: #565656;">
                <h2 style="margin: 0; text-transform: uppercase; letter-spacing: 1px;  font-weight: normal; font-size: 1rem">
                    {{ label }}</h2>
                <div style="line-height: 1; font-size: 2rem; font-weight: 600">{{ count }}</div>
            </div>
        </div>
    </template>
    {% endverbatim %}

    <script type="module">
        import {createApp} from 'https://unpkg.com/petite-vue?module'

        function DashboardPanel(props) {
            return {
                $template: '#dashboard-panel-template',
                label: props.label,
                count: props.initialCount,
            }
        }

        createApp({DashboardPanel}).mount()
    </script>
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <svg data-v-2b23a8ea="" viewBox="0 0 400 400" fill="none"
                 xmlns="http://www.w3.org/2000/svg" width="28" height="28">
                <path fill="#E84643" d="M204.749 46.804h146.16l46.41 89h-262z"></path>
                <path fill="#E52925" d="M136.319 1.804l68.43 45-68.43 89z"></path>
                <path fill="#26915A" d="M194.889 352.804H48.729l-46.41-89h262z"></path>
                <path fill="#18864E" d="M264.319 397.804l-69.43-45 69.43-89z"></path>
                <g>
                    <path fill="#FFCF47" d="M352.319 204.969v145.603l-88 46.232v-261z"></path>
                    <path fill="#FEC82E" d="M397.319 135.804l-45 69.165-88-69.165z"></path>
                </g>
                <g>
                    <path fill="#FFCF47" d="M47.319 194.374V48.214l89-46.41v262z"></path>
                    <path fill="#FEC82E" d="M2.319 263.804l45-69.812 89 69.812z"></path>
                </g>
            </svg>
            <div>ASEB</div>
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
