{% extends 'admin/index.html' %}

{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col">
                {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
            </div>
            {% if not app_label %}
                <div class="col">
                    <div class="flex flex-auto flex-wrap">
                        <div class="w-1/3"
                             @mounted="mounted"
                             v-scope="DashboardPanel({ initialCount: 0, url: '/api/users/count/', label: 'Usuarios' })">
                        </div>
                        <div class="w-1/3"
                             @mounted="mounted"
                             v-scope="DashboardPanel({ initialCount: 0, url: '/api/members/count/', label: 'Miembros' })">
                        </div>
                        <div class="w-1/3"
                             @mounted="mounted"
                             v-scope="DashboardPanel({ initialCount: 0, url: '/api/members/count/?type=partner', label: 'Socios' })">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
